@import "../../common/colors.scss";
.footer{
    background-color: $secondary-color;
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // color: $font-primary;
    flex-direction: column;
}

.title-footer{
    color: #fff;
}